/*
  BUTTONS : COMPARE - BUY NOW
*/
.btnToCompa, .btnToAmazon{
  padding-left: 5px;
  padding-right: 5px;

}
.imgCompare, .imgBuyNow{
  width: 100%;
  height: 100%;
}
.btn {
  text-decoration: none;
  color: #231f20;
  display: inline-block;
  position: relative;
  border: 1.5px solid #231f20;
}
.btn:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}
.button-1, .button-2{
  border-radius: 100em;
}
.pressedOut{
  border-radius: 100em;
}
.pressedOut:before{
  border-radius: 100em;
  left: 0px;
  top: 0px;
  background-color: #f25449;
}
.button-1:before {
  border-radius: 100em;
  left: 3px;
  top: 2px;
  background-color: #f25449;
}
.button-2:before {
  border-radius: 100em;
  left: 3px;
  top: 2px;
  background-color: #f5e32f;
}
.botonToggle{
  border-radius: 100em;
}
.botonToggle:before{
  border-radius: 100em;
  left: 3px;
  top: 2px;
  background-color: #B2B2B2;
}


/*
  BUTTONS: COMPARE HERE
*/
#btnCompare {
  margin-top: 4rem;
  margin-right: 2rem;
}
.btnOpenModal {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  position: relative;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 2.1rem;
}
.btnOpenModal:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}
.button-3{
  border-radius: 100em;
  background-color: #f25449;
}
.button-3:hover{
  background-color: #ffec8b;
}
